@model Dictionary<string, string>
@using UrbanWatchMVCWebApp.Services;
@using UrbanWatchMVCWebApp.EF;
@using UrbanWatchMVCWebApp.Models;
@inject ApplicationContext dbContext



@{    
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Public Transport Map of Chisinau</h1>
    <p>
        Hello! We present to you the public transport map of Chisinau, which will help you plan your trip around the city. On the map, you will find all the trolleybus and bus routes, as well as their stops. Additionally, you can check the schedule and duration of the trip. Use this map to quickly and efficiently reach your destination.
    </p>
    <p>Thank you for using our service!</p>
    <form method="post">
        <p>
            <label for="tripId">Selectati o ruta:</label>
            <select name="tripId" asp-for="@Model["tripId"]">
                @{
                    Route[] getRoutes = dbContext.Routes.ToArray();
                    Trip[] getTrips = dbContext.Trips.ToArray();
                }
                @foreach (Route route in getRoutes.OrderBy(order => order.RouteId).ToArray())
            {
                foreach (Trip trip in getTrips.Where(trip => trip.RouteId == route.RouteId).OrderBy(order => order.DirectionId).ToArray())
                    {
                        <text>
                        <option value="@trip.TripId" >@route.RouteShortName - Spre @trip.TripHeadsign </option>
                        </text>
                    }                
            }  
            </select>
       </p>
        <p>
            <input type="submit" value="Send" />
        </p>
    </form>

    <div id="map" style="height: 500px;"></div>
</div>


@section Scripts {
    <script>
        var map = L.map('map').setView([47.02543731466161, 28.830271935332686], 12);
        L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 19,
            attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
        }).addTo(map);

        @if (Model != null)
        {
            //Stop[] getStops = await tranzyAdapter.GetStopsAsync(Model["shapeId"]);
            //Vehicle[] getVehicles = await tranzyAdapter.GetVehiclesAsync(Model["tripId"]);
            //Shape[] getShapes = await tranzyAdapter.GetShapesAsync(Model["shapeId"]);
            //Route? routeObject = await tranzyAdapter.GetTheRouteAsync(Int32.Parse(Model["routeId"]));

            List<Stop> getStops = new List<Stop>();
            StopTimes[] stopTimes = dbContext.StopTimes.ToArray();
            foreach (StopTimes stopTime in stopTimes.Where(stoptime => stoptime.TripId == Model["shapeId"]).ToArray())
            {
                getStops.Add(dbContext.Stops.FirstOrDefault(stop => stop.Id == stopTime.StopId));
            }
            
            
            
            
            
            //Stop[] getStops = dbContext.Stops.Where(stop => stop.StopId == Int32.Parse(Model["shapeId"])).ToArray();            
            Vehicle[] getVehicles = dbContext.Vehicles.Where(vehicle => vehicle.VehicleId == Model["tripId"]).ToArray();
            Shape[] getShapes = dbContext.Shapes.Where(shape => shape.ShapeId == Model["shapeId"]).ToArray();
            Route? routeObject = dbContext.Routes.FirstOrDefault(route => route.RouteId == Int32.Parse(Model["routeId"]));
            string? routeColor = routeObject.RouteColor;
            foreach (Stop stop in getStops)
            {
                <text>
                    var busStopIcon = L.divIcon({ className: 'bus-stop-div-icon', iconSize: new L.Point(10, 10) });
                    var marker = L.marker([@stop.Latitude, @stop.Longitude], { icon: busStopIcon }).addTo(map);
                    marker.bindPopup('Statia: @stop.Name');
                </text>
            }
            foreach (Vehicle vehicle in getVehicles)
            {
                <text>
                    var busIcon = L.divIcon({ className: 'bus-div-icon', iconSize: new L.Point(20, 20)});
                    var marker = L.marker([@vehicle.Latitude, @vehicle.Longitude], { icon: busIcon }).addTo(map);
                    marker.bindPopup('Vehicul: @vehicle.Label Speed:@vehicle.Speed');
                </text>
            }

            List<string[]> shapesArray = new List<string[]>();

            foreach (Shape shape in getShapes)
            {                
                string[] point = new string[2];
                point[0] = shape.Latitude;
                point[1] = shape.Longitude;
                shapesArray.Add(point);
            }            
            <text>
                var shapes = @Html.Raw(Json.Serialize(shapesArray));
            var polyline = L.polyline(shapes, { color: '@routeColor' }).addTo(map);

            // zoom the map to the polyline
            map.fitBounds(polyline.getBounds());
            </text>
        }
    </script>
}
